{% load static %}
<html lang="en"> 
    <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static 'css/TableStyle.css'%}">
            <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
            
            
            <title>Result</title>
    </head>
    <body>
        
            <section>
                <!--for demo wrap-->
                <h1>Subject Detail</h1>
                <div class="tbl-header">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Desctription</th>
                        <th>Credit HOur</th>
                        <th>Assessment Weightage</th>
                        <th>Medium of Instruction</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                      <tr id="Row-1">
                        <td id="Row-1-col-1"></td>
                        <td id="Row-1-col-2"></td>
                        <td id="Row-1-col-3"></td>
                        <td id="Row-1-col-4"></td>
                        <td id="Row-1-col-5"></td>
                        <td id="Row-1-col-6"></td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              
              </section>
            <button onclick="Back()">Back</button>
              <!-- follow me template -->
    </body>
    <script type="text/javascript" src="/static/JavaScript/Firebase.js"></script>
    <script type="text/javascript" src="/static/JavaScript/Variable.js"></script>
    <script type="text/javascript" src="/static/JavaScript/ResultTable.js">
    </script>
</html>
